button, input, select, textarea {
    font-family : inherit;
    font-size   : 100%;
}

.feedback {
    padding: 50px;
    display: flex;
    align-items: center;
}

.container_feedback {
    display: flex;
    justify-content: center;
}

.feedback__form {
    width: 700px;
    font-size: 14px;
    font-weight: lighter;
    display: flex;
    flex-wrap: wrap;
    background-color: #f5f5f5;
    padding: 50px 50px;
}

.feedback__title {
    font-size: 19px;
    font-weight: bold;
}

.feedback__social, .feedback__name {
    display: flex;
    flex-direction: column;
    width: calc((100%-50px) / 2);
}

.feedback__name {
    margin-right: 20px;
}

.form__social, .form__name {
    width: 269px;
    height: 43px;
    font-size: 14px;
    font-weight: lighter;
    color: #221f1f;
    opacity: 0.5;
    margin-bottom: 10px;
    
}

.form__text {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form__name-label, 
.form__social-label, 
.form__text-label {
    margin-bottom: 10px;
}

.feedback__lowblock {
    display: flex;
}

.button__btn {
    color: white;
    background-color: black;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    width: 125px;
    height: 45px;
    border-radius: 5px;
}

.feedback__upperblock {
    margin-top: 50px;
    display: flex;
}

.photo__radios {
    margin-top: 10px;
    
}

.photo__radio {
    margin-right: 10px;
    width: 1.3em;
    height: 1.3em;
}

.photo__radios span {
    margin-right: 10px;
}

.photo{
    flex: 2;
}