.header {
    background-color: black;   
    display: flex;
    min-height: 78px;
}

.container__header{
    padding: 0 20px 0 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'GoraFree';
    font-size: 18px;
    color: #f89513;
    text-transform: uppercase;
    width: 15%;
    letter-spacing: 0.1em;
}

/* Contacts */
.contacts {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 16%;
}

.contacts__phone {
    color: white;
    font-size: 21px;
    font-weight: bold;
}

.contacts__times {
    position: relative;
}

.contacts__work-hours {
    color: #f89513;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}

.contacts__dropdown {
    background-color: #f6fbfd;
    box-shadow: 0px 0px 10px 0px rgba(23, 59, 117, 0.55);
    z-index: 10;
    border-radius: 5px 0 5px 5px;
    text-align: left;
    padding: 15px 10px;
    position: absolute;
    top: 100%;
    margin-top: 11px;
    opacity: 0;
    right: 9999px;
    transition: opacity .3s;
}

.contacts__times:hover
.contacts__dropdown {
    right: 0;
    opacity: 1;
}

.contacts__dropdown:before {
    border: 11px solid transparent;
    border-top-width: 0px;
    border-bottom-color: #fff;
    top: -11px;
    right: 0;
    width: 0;
    height: 0;
}

.contacts__dropdown:before, .contacts__dropdown:after {
    content: "";
    display: block;
    position: absolute;
}
