.intro {
    background-image: url(../img/background.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.intro__animation {
    animation: logo 1s linear 0.5s;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.intro__url {
    margin-top: 50px;
}

.intro__animation:hover {
    transition: height 1.5s cubic-bezier(.61,.49,.03,1.32) 1s;
}

.intro__url {
    color: white;
    background-color: #131415;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 16px 22px;
    border-radius: 5px;
    border: none;

    transition: 0.5s;
}

.intro__url:hover {
    background-color: #f89513;   
}

@keyframes logo {
    0% {
        transform: scale(0.7);
    }

    25% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(0.7);
    }

    75% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}