@import url(fonts.css);

@import url(normalize.css);

@import url(base.css);

@import url(header.css);

@import url(navigation.css);

@import url(features.css);

@import url(news.css);

@import url(pagination.css);

@import url(footer.css);

@import url(social.css);

@import url(reviews.css);

@import url(offer.css);

@import url(path.css);

@import url(feedback.css);

@import url(services.css);

@import url(partners.css);

@import url(intro.css);

/* Banner */
.main__banner {
    text-align: center;
    width: 100%;
    padding-top: 77px;
    padding-bottom: 58px;
}
