/* Navigation */
.nav {
    color: white;
    text-align: center;
}

.nav--vertical {
    color: #131415;
}

.nav--vertical .nav {
    color: #131415;
    text-align: center;
}


.nav__item {
    margin-right: 20px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav--vertical .nav__item {
    margin-bottom: 20px;
    margin-right: 0;
}

.nav--vertical .nav__item:last-child {
    margin-bottom: 0;
}

.nav__title {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;;
}

.nav__list {
    
}

.nav__url {
    color: white;
}

.nav--vertical .nav__url {
    color: #131415;
}


.active .nav__url {
    color: #f89513;
}


.nav__title:before {
    content: '';
    vertical-align: middle;
    background: center center / contain no-repeat;
    margin-right: 16px;
    display: inline-block;
}


.nav__title:hover {
    color: #f89513;
}

.nav--vertical .nav__title_main-icon:before {
    background: url(../img/icons_sprites.png) -5px -88px;
    width: 19px;
    height: 14px;
}


.nav--vertical .nav__title_feed-icon:before {
    background: url(../img/icons_sprites.png) -5px -23px;
    width: 20px;
    height: 18px;
}

.nav--vertical .nav__title_service-icon:before {
    background: url(../img/icons_sprites.png) -5px -145px;
    width: 19px;
    height: 14px;
}


.nav__title_main-icon:before {
    background: url(../img/icons_sprites.png) -5px -69px;
    width: 19px;
    height: 14px;
}


.nav__title_feed-icon:before {
    background: url(../img/icons_sprites.png) -5px -0px;
    width: 20px;
    height: 18px;
}

.nav__title_service-icon:before {
    background: url(../img/icons_sprites.png) -5px -126px;
    width: 19px;
    height: 14px;
}



.nav__title_main-icon:hover:before {
    background: url(../img/icons_sprites.png) -5px -107px;
}

.nav__title_feed-icon:hover:before {
    background: url(../img/icons_sprites.png)-5px -46px;
}

.nav__title_service-icon:hover:before {
    background: url(../img/icons_sprites.png) -5px -164px;
}

.active .nav__title_main-icon:before {
    background: url(../img/icons_sprites.png) -5px -107px;
}

.active .nav__title_feed-icon:before {
    background: url(../img/icons_sprites.png) -5px -46px;
}

.active .nav__title_service-icon:before {
    background: url(../img/icons_sprites.png) -5px -164px;
}