.offer {
    background-image: url(../img/background.png);
    padding: 27px 21px 0;
    margin-top: 81px;
    letter-spacing: 0.2em;
    line-height: 1.2em;
    text-align: center;
    font-weight: lighter;
}

.container_offer {
    display: flex;
    justify-content: center;
}

.offer__desc {
    color: white;
    font-weight: lighter;
    max-width: 642px;
}

.offer__desc span{
    color: #f89513;
    font-weight: bold;
}