/* services block */
.services {
    color: #221f1f;
    padding-bottom: 65px;
    vertical-align: top;    
}

.sidebar_services {
    width: 26%;
}

.container_services {
    display: flex;
    text-align: center;
}

.services__block {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.services__name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.services__title {
    font-size: 49px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 16px;
    text-align: left;
}

.services-content {
    width: 80%;
    margin: 44px 22px;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: -50px;
}

.services__item {
    width: calc( (100% - 100px) / 3);
    margin-bottom: 50px;
}

.services__img {
    width: 251px;
    height: 154px;
    position: relative;
    margin-bottom: 23px;
    border-radius: 2px;
}

.services__img::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    z-index: 3;
}

.service__pic{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.services__entry {
    display: flex;
}

.service {
    text-align: left;
}

.service p {
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.5em;
}

.service__title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 11px;
}

.service__img {
    border-radius: 50%;
    margin-right: 20px;
    height: 100%;
    object-fit: cover;
}

.service__date {
    font-size: 14px;
    font-weight: 200;
    color: #656464;
    margin-bottom: 5px;
}

.service__desc {
    font-weight: lighter;
}
