@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap&subset=cyrillic');

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900&display=swap&subset=cyrillic');

@font-face {
    font-family: "GoraFree";
    src: url('fonts/Gora-Free.woff2') format('woff2'),
         url('fonts/gora-free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    height:100%;
    margin: 0; 
    padding: 0; 
    border: 0 none;
}

body {
    padding: 0;
    margin: 0;
    /* letter-spacing: 0.03em; */
    /* line-height: 1.8em; */
}

div, p, form, button, b, a, input, span {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

p, h2 {
    margin: 0;
    padding: 0;
}

h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}

.header {
    background-color: black;   
    padding: 11px 0;
}

.container__header{
    padding-right: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'GoraFree';
    font-size: 18px;
    color: #f89513;
    margin-left: 19px;
    text-transform: uppercase;
    width: 15%;
}

/* Navigation */
.nav {
    color: white;
    text-align: center;
}

.nav__item {
    margin-right: 20px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__title {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;;
}

.nav__list {
    display: flex;
}

.nav__url {
    color: white;
}

.nav__img {
    
}

.nav__title:before {
    content: '';
    vertical-align: middle;
    background: center center / contain no-repeat;
    margin-right: 16px;
    display: inline-block;
}

.nav__title:hover {
    color: #f89513;
}

.nav__title_main-icon:before {
    background-image: url(../img/main_icon.png);
    width: 19px;
    height: 14px;
}


.nav__title_feed-icon:before {
    background-image: url(../img/feed_icon.png);
    width: 20px;
    height: 18px;
}

.nav__title_service-icon:before {
    background-image: url(../img/service_icon.png);
    width: 19px;
    height: 14px;
}

.nav__title_main-icon:hover:before {
    background-image: url(../img/main_icon_yellow.png);
}

.nav__title_feed-icon:hover:before {
    background-image: url(../img/feed_icon_yellow.png);
}

.nav__title_service-icon:hover:before {
    background-image: url(../img/service_icon_yellow.png);
}

/* Contacts */
.contacts {
    vertical-align: middle;
    text-align: right;
    width: 15%;
}

.contacts__phone {
    color: white;
    font-size: 21px;
    font-weight: bold;
}

.contacts__work-hours {
    color: #f89513;
    font-size: 14px;
    text-decoration: underline;
}

/* Banner */
.main__banner {
    text-align: center;
    width: 100%;
    padding-top: 77px;
    padding-bottom: 58px;
}

/* features */
.features{
    width: 100%;
    background-color: #131415;
    color: white;
    padding-top: 65px;
    padding-bottom: 100px;
}

.features__title {
    font-size: 49px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    width: 100%;
}

.features__block {
    width: 100%;
    text-align: center;
    margin-top: 60px;
}

.features__list {
    display: flex;
    justify-content: space-evenly;
}

.features__item {
    width: 215px;
    vertical-align: top;
    
}

.feature {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feature:last-child {
    margin-right: 0;
}

.feature__img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #f89513;
    position: relative;
}

.feature__pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.feature__title{
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 40px;
}

.feature__desc {
    text-align: center;
    margin-top: 27px;
}

.feature__list {
    text-align: left;
}

.feature__item::before {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: white;
    vertical-align: middle;
    margin-right: 24px;
    display: inline-block;
}

/* news block */
.news-content {
    color: #221f1f;
    padding-bottom: 65px;
}

.news-content__block {
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
}

.news-content__title {
    font-size: 49px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.news-tape {
    width: 73%;
    text-align: left;
    font-family: "Roboto";
    margin-right: 69px;
}

.news__item {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #f5f5f5;
}

.news__entry {
    display: flex;
}

.news__item:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}


.news__img {
    border-radius: 50%;
    margin-right: 20px;
}

.top-news {
    width: 20%;
    vertical-align: top;
}

.news {
    width: 70%;
    vertical-align: top;
}

.news__date {
    font-size: 14px;
    font-weight: 200;
    color: #656464;
}

.news__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 19px;
}

.news__desc {
    font-weight: lighter;
}

.top-news__item {
    width: 160px;
    margin-bottom: 20px;
}

.top-news__item:last-child {
    margin-bottom: 0;
}

.top-news__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-news__title{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.top-news__month{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #656464;
    margin-bottom: 24px;
}

.pagination{
    width: 100%;
    text-align: center;
    font-family: "Roboto";
    font-size: 14px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.pagination__position {   
    font-weight: lighter;
    color: #656464;
}

.pagination__position_noactive {   
    font-weight: lighter;
    color: #656464;
}

.pagination__btn-prev{
    
    font-size: 14px;
}

.pagination__pager {
    display: flex;
}

.pagination__list {
    display: flex;
}

.pagination__item {
    font-weight: bold;
    vertical-align: middle;
    margin-right: 16px;
}

.pagination__item:last-child {
    margin-right: 0;
}

.pagination__item_active {
    background-color: #27273e;
    color: white;
    width: 25px;
    padding: 7px 0;
    border-radius: 15%;
    vertical-align: middle;
}

.pagination__btn-next{
    
    font-size: 14px;
    font-weight: bold;
}

.pagination__url {
    color: #221f1f;
}

.pagination__url:hover {
    color: #f89513;
}

.pagination__url_active {
    color: white;
    vertical-align: middle;
}

/* footer */
.footer {
    color: white;
    background-color: #131415;
    padding-left: 19px;
    padding-right: 19px;
    min-height: 74px;
    display: flex;
}

.container_footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_footer {
    width: 56%;
    text-align: center;
}

.footer__desc {
    font-size: 14px;
    font-weight: lighter;
    width: 24%;
    text-align: left;
    vertical-align: middle;
}

.footer__company{
    font-weight: bold;
    text-decoration: underline;
    color: white;
}

.footer__surname {
    font-weight: bold;
}

.social {
    width: 17%;
    text-align: right;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    vertical-align: middle;
}

.social__list {
    display: flex;
}

.social__item {
    background-color: #d0d0d0;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
    position: relative;
}

.social__item:hover {
    background-color: #f89513;
}

.social__pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social__item:last-child {
    margin-right: 0;
}
