@font-face {
    font-family: 'GoraFree';
    src: url('./fonts/gora-free-webfont.woff2') format('woff2'),
         url('./fonts/gora-free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('./fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('./fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}


@font-face {
    font-family: 'open_sans';
    src: url('./fonts/opensans-light-webfont.woff2') format('woff2'),
         url('./fonts/opensans-light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;

}


@font-face {
    font-family: 'open_sans';
    src: url('./fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('./fonts/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: initial;

}

html {
    font-family: 'open_sans', sans-serif;
    font-size: 18px;
    height:100%;
    margin: 0; 
    padding: 0; 
    border: 0 none;
}

body {
    padding: 0;
    margin: 0;
    /* letter-spacing: 0.03em; */
    /* line-height: 1.8em; */
}

div, p, form, button, b, a, input, span {
    box-sizing: border-box;
}

ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
}

p, div, h2 {
    margin: 0;
    padding: 0;
    display: inline-block;
}

h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.wrapper {
    margin: 0 auto;
    
}

.header {
    background-color: black;   
    display: inline-block; 
    padding: 11px 0;
}

.container__header{
    padding-right: 22px;;
}

.logo {
    font-family: 'GoraFree';
    font-size: 18px;
    color: #f89513;
    display: inline-block;
    margin-left: 19px;
    text-transform: uppercase;
    width: 15%;
}

/* Navigation */
.nav {
    color: white;
    display: inline-block;
    text-align: center;
    width: 67%;
}

.nav__item {
    margin-right: 20px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__title {
    font-weight: bold;
    font-size: 12px;
}

.nav__url {
    color: white;
}

.nav__img {
    display: inline-block;
}

.nav__title:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: center center / contain no-repeat;
    margin-right: 16px;
}

.nav__title_main-icon:before {
    background-image: url(../img/main_icon.png);
    width: 19px;
    height: 14px;
}


.nav__title_feed-icon:before {
    background-image: url(../img/feed_icon.png);
    width: 20px;
    height: 18px;
}

.nav__title_service-icon:before {
    background-image: url(../img/service_icon.png);
    width: 19px;
    height: 14px;
}

.nav__title_main-icon:hover:before {
    background-image: none;
}

.nav__title_feed-icon:hover:before {
    background-image: none;
}

.nav__title_service-icon:hover:before {
    background-image: none;
}

/* Contacts */
.contacts {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 15%;
}

.contacts__phone {
    color: white;
    font-size: 21px;
    font-weight: bold;
}

.contacts__work-hours {
    color: #f89513;
    font-size: 14px;
    text-decoration: underline;
}

/* Banner */
.main_banner {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-top: 77px;
    padding-bottom: 58px;
}

/* features */
.features{
    width: 100%;
    background-color: #131415;
    color: white;
}

.features__title {
    font-size: 49px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 65px;
    padding: 0;
    width: 100%;
}

.features__block {
    width: 100%;
    text-align: center;
    margin-top: 60px;
    padding-bottom: 100px;
}

.features__item {
    width: 208px;
    vertical-align: top;
    
}

.feature {
    margin-right: 70px;
}

.feature:last-child {
    margin-right: 0;
}

.feature__img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #f89513;
    padding-top: 18px;
}


.feature__title{
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 40px;
}

.feature__desc {
    text-align: center;
    margin-top: 27px;
}

.feature__list {
    text-align: left;
}

.feature__item::before {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    margin-right: 24px;
}

/* news block */
.news-content {
    color: #221f1f;
    padding-bottom: 65px;
}

.news-content__block {
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

.news-content__title {
    font-size: 49px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.news-tape {
    width: 79%;
    text-align: left;
    font-family: "Roboto";
}

.news_entry {
    padding-bottom: 30px;
}

.news_entry:last-child {
    padding-bottom: 0;
}

.news_entry::after {
    content: '';
    display: block;
    border-bottom: solid #f5f5f5;
    width: 85%;
    text-align: right;
}

.news__img {
    display: inline-block;
    border-radius: 50%;
    margin-right: 20px;
}

.top-news {
    width: 20%;
    vertical-align: top;
}

.news {
    width: 70%;
    vertical-align: top;
    
}

.news__date {
    font-size: 14px;
    font-weight: 200;
    color: #656464;
}

.news__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 19px;
}

.news__desc {
    font-weight: lighter;
}

.top-news__img {
    width: 160px;
    margin-bottom: 20px;
}

.top-news__title{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.top-news__month{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #656464;
    margin-bottom: 24px;
}

.pagination{
    width: 100%;
    text-align: center;
    font-family: "Roboto";
    font-size: 14px;
    margin-top: 70px;
}

.pagination__position {   
    font-weight: lighter;
    color: #656464;
}

.pagination__position_noactive {   
    font-weight: lighter;
    color: #656464;
}

.pagination__btn-prev{
    
    font-size: 14px;
}

.pagination__item {
    font-weight: bold;
    vertical-align: middle;
    margin-right: 16px;
}

.pagination__item:last-child {
    margin-right: 0;
}

.pagination__item_active {
    background-color: #27273e;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 15%;
    vertical-align: middle;
}

.pagination__btn-next{
    
    font-size: 14px;
    font-weight: bold;
}

.pagination__url {
    color: #221f1f;
}

.pagination__url_active {
    color: white;
    vertical-align: middle;
}

/* footer */
.footer {
    color: white;
    background-color: #131415;
    padding-left: 19px;
    padding-right: 19px;
}

.logo_footer {
    width: 58%;
    text-align: center;
}

.footer__desc {
    font-size: 14px;
    font-weight: lighter;
    width: 24%;
    text-align: left;
    vertical-align: middle;
}

.footer__company{
    font-weight: bold;
    text-decoration: underline;
    color: white;
}

.footer__surname {
    font-weight: bold;
}

.social {
    width: 15%;
    text-align: right;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}

.social__item {
    background-color: #d0d0d0;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    text-align: center;

}

.social__item_yellow {
    background-color: #f89513;
}
