@font-face {
    font-family: 'GoraFree';
    src: url('/css/fonts/gora-free-webfont.woff2') format('woff2'),
         url('/css/fonts/gora-free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('/css/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('/css/fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}


@font-face {
    font-family: 'open_sans';
    src: url('/css/fonts/opensans-light-webfont.woff2') format('woff2'),
         url('/css/fonts/opensans-light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;

}


@font-face {
    font-family: 'open_sans';
    src: url('/css/fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('/css/fonts/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: initial;

}

html {
    font-family: 'open_sans', sans-serif;
    font-size: 18px;
    height:100%;
    margin: 0; 
    padding: 0; 
    border: 0 none;
}

body {
    padding: 0;
    margin: 0;
    /* letter-spacing: 0.03em; */
    /* line-height: 1.8em; */
}

div, p, form, button, b, a, input, span {
    box-sizing: border-box;
}

ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
}

p, div {
    margin: 0;
    padding: 0;
    display: inline-block;
}

a {
    text-decoration: none;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.wrapper {
    margin: 0 auto;
    
}

.header {
    background-color: black;   
    display: inline-block; 
    padding: 11px 0;
}

.container__header{
    padding-right: 22px;;
}

.logo {
    font-family: 'GoraFree';
    font-size: 18px;
    color: #f89513;
    display: inline-block;
    margin-left: 19px;
    text-transform: uppercase;
    width: 15%;
}

/* Navigation */
.nav {
    color: white;
    display: inline-block;
    text-align: center;
    width: 67%;
}

.nav__item {
    margin-right: 20px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__title {
    font-weight: bold;
    font-size: 12px;
}

.nav__url {
    color: white;
}

.nav__img {
    display: inline-block;
}

.nav__title:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: center center / contain no-repeat;
    margin-right: 16px;
}

.nav__title_main-icon:before {
    background-image: url(/img/main_icon.png);
    width: 19px;
    height: 14px;
}


.nav__title_feed-icon:before {
    background-image: url(/img/feed_icon.png);
    width: 20px;
    height: 18px;
}

.nav__title_service-icon:before {
    background-image: url(/img/service_icon.png);
    width: 19px;
    height: 14px;
}

.nav__title_main-icon:hover:before {
    background-image: none;
}

.nav__title_feed-icon:hover:before {
    background-image: none;
}

.nav__title_service-icon:hover:before {
    background-image: none;
}

/* Contacts */
.contacts {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 15%;
}

.contacts__phone {
    color: white;
    font-size: 21px;
    font-weight: bold;
}

.contacts__work-hours {
    color: #f89513;
    font-size: 14px;
    text-decoration: underline;
}